<div class="bg-gray-800 p-4 rounded-lg shadow-md text-white">
    <h3 class="text-xl font-bold mb-4 text-center">Zawartość plecaka</h3>

    {% if items %}
        <ul class="divide-y divide-gray-600">
            {% for item in items %}
                <li class="py-2 flex justify-between items-center">
                    <div>
                        <span class="font-semibold">{{ item.item.name }}</span>
                        <span> {{ item.item.rarity}}, </span>
                        <span> SIL:{{ item.item.item_strength}}, </span>
                        <span> ZR:{{ item.item.item_dexterity}}, </span>
                        <span> B/F: {{ item.item.item_constitution}}, </span>
                        <span> INT: {{ item.item.item_intelligence}} </span>
                        {% if item.equipped %}
                            <span class="ml-2 px-2 py-1 bg-green-600 text-xs rounded">Wyposażony</span>
                        {% endif %}
                    </div>

                    

                    <div>
                        {% if item.equipped %}
                            <a href="{% url 'unequip_item' item.id %}" class="bg-red-500 hover:bg-red-600 text-white text-sm px-3 py-1 rounded">
                                Zdejmij
                            </a>
                        {% else %}
                            <a href="{% url 'equip_item' item.id %}" class="bg-blue-500 hover:bg-blue-600 text-white text-sm px-3 py-1 rounded">
                                Załóż
                            </a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center text-gray-400">Brak przedmiotów w plecaku.</p>
    {% endif %}
</div>
