<div class="bg-gray-800 p-4 rounded-lg shadow-md text-white">
    <h3 class="text-xl font-bold mb-4 text-center">Zawartość plecaka</h3>

    {% if items %}
        <ul class="divide-y divide-gray-600">
            {% for item in items %}
                <li class="py-2 flex justify-between items-center  rounded px-2">
<div>
  <span class="font-semibold {% if item.item.rarity == 'common' %}text-gray-300
    {% elif item.item.rarity == 'uncommon' %}text-green-400
    {% elif item.item.rarity == 'rare' %}text-blue-400
    {% elif item.item.rarity == 'epic' %}text-purple-400
    {% elif item.item.rarity == 'legendary' %}text-yellow-400
    {% endif %}">
    {{ item.item.name }}
  </span>
  <span class="text-xs italic text-gray-400">[{{ item.item.rarity|title }}]</span>

  {% if "potion" in item.item.item_type %}
    <p class="text-sm text-green-200 italic">
      +
      {% if item.item.item_type == "potion_hp" %}
        {{ item.item.effect_value }} HP
      {% elif item.item.item_type == "potion_stamina" %}
        {{ item.item.effect_value }} staminy
      {% endif %}
    </p>
  {% else %}
    <span class="text-sm text-gray-400">
      SIL:{{ item.item.item_strength }},
      ZR:{{ item.item.item_dexterity }},
      B/F:{{ item.item.item_constitution }},
      INT:{{ item.item.item_intelligence }}
    </span>
  {% endif %}
</div>


  <div>
    {% if "potion" in item.item.item_type %}
      <button
        class="bg-blue-600 hover:bg-blue-700 text-white text-sm px-3 py-1 rounded use-btn"
        data-item-id="{{ item.id }}"
      >
        Wypij
      </button>
    {% elif item.equipped %}
      <a href="{% url 'unequip_item' item.id %}" class="bg-red-500 hover:bg-red-600 text-white text-sm px-3 py-1 rounded">
        Zdejmij
      </a>
    {% else %}
      <a href="{% url 'equip_item' item.id %}" class="bg-blue-500 hover:bg-blue-600 text-white text-sm px-3 py-1 rounded">
        Załóż
      </a>
    {% endif %}
  </div>
</li>

            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center text-gray-400">Brak przedmiotów w plecaku.</p>
    {% endif %}
</div>
