{% extends "base.html" %}
{% load static %}

{% block title %}
Walka: {{ enemy.name }} vs {{ user_profile.user.username }}
{% endblock %}

{% block sidebar%}
{% include 'sidebar.html' %}
{% endblock %}



{% block content %}
<h1>⚔️ {{ user_profile.user.username }} vs {{ enemy.name }}</h1>

<p><strong>Twoje HP:</strong> {{ user_profile.hp }}</p>
<p><strong>HP przeciwnika:</strong> {{ enemy.base_hp }}</p>

<form id="fight-form" hx-post="{% url 'fight' enemy.id %}" hx-target="#fight-result" hx-swap="innerHTML">
    {% csrf_token %}
  <label>Wybierz strategię:</label><br>
  <input type="radio" name="strategy" value="aggressive" checked> Agresywna<br>
  <input type="radio" name="strategy" value="balanced"> Zbalansowana<br>
  <input type="radio" name="strategy" value="defensive"> Defensywna<br><br>

  <button type="submit">Rozpocznij walkę (-1 Stamina)</button>
</form>

<div id="fight-result" class="mt-4">
  <!-- Tu pojawi się wynik walki -->
</div>
{% endblock %}