{% extends "base.html" %}
{% load static %}

{% block title %} 

{% endblock %}

{% block extra_head %}

{% endblock %}

{% block navbar %}
<div class="container mx-auto flex flex-col">
    {% if user.is_authenticated %}
      <a
        href="{% url 'beast_dung' %}"
        class="bg-transparent hover:bg-amber-900 text-amber-900 font-semibold hover:text-white py-2 px-4 border border-amber-900 hover:border-transparent rounded w-full"
      >{{location.name}}</a>
      <a
        href="{% url 'circus' %}"
        class="bg-transparent hover:bg-amber-900 text-amber-900 font-semibold hover:text-white py-2 px-4 border border-amber-900 hover:border-transparent rounded w-full"
      >{{location2.name}}</a>
      <a
      href="{% url 'dessert_hills' %}"
      class="bg-transparent hover:bg-amber-900 text-amber-900 font-semibold hover:text-white py-2 px-4 border border-amber-900 hover:border-transparent rounded w-full"
        >{{location3.name}}</a>
        <a
        href="{% url 'plains' %}"
        class="bg-transparent hover:bg-amber-900 text-amber-900 font-semibold hover:text-white py-2 px-4 border border-amber-900 hover:border-transparent rounded w-full"
    >{{location4.name}}</a>
    {% endif %}

{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container mapa size-full">
    <div class="row">
        <div class="col-md-12">
            <div id="map" class="size-[75vmax]"></div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}