{% extends "base.html" %}
{% load static %}

{% block title %} 

{% endblock %}

{% block extra_head %}

{% endblock %}

{% block banner_up %}
{% include 'banner_up.html' %}
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<span> {{location.name}}:</span>
</br>
{% for enemy in enemies %}
<span> {{enemy}} LVL:{{enemy.lvl}}
</span> </br>
{% endfor %}
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}