{% extends "base.html" %}
{% load static %}

{% block title %} 
Handlarz
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block banner_up %}
{% include 'banner_up.html' %}
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Handlarz</h1>
<div style="margin-bottom: 20px;">
    <strong>{{ merchant.name }}</strong>
    <div style="margin-left: 20px;">
        {% for item in random_items %}
            <div>{{ item.name }} - {{ item.price }} złota</div>
        {% empty %}
            <div>Brak przedmiotów u tego handlarza.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}