{% extends "base.html" %}
{% load static %}

{% block title %} 
Profil gracza 
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block banner_up %}
{% include 'banner_up.html' %}
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block sidebar %} 
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="grid grid-cols-6 gap-4 p-4">
    <div class="grid justify-items-center col-span-2">
        <div class="text-center">
            <div class="font-bold text-lg">Profil gracza:</div>
            <div class="capitalize">{{ player.user.username }}</div>
            <div>Poziom: {{ player.level }}</div>
            <div>Doświadczenie: {{ player.experience }} / {{ player.lvlup_exp }}</div>
            <div class="experience-bar">
                <div class="experience-bar-fill" style="width: {{ experience_percentage }}%"></div>
            </div>
            <div>Złoto: {{ player.gold }} </div>
        </div>
        <div class="mt-4">
            <img src="{% static 'images/profilowe.webp' %}" alt="Profilowe" class="w-64 h-64 object-cover">
        </div>
        <div class="mt-4">
            <div>Życie: {{ player.hp }} / {{ player.max_hp }}</div>
            <div class="experience-bar">
                <div class="hp-bar-fill" style="width: {{ hp_percentage }}%"></div>
            </div>
            <div>
                <h3 class="font-bold text-lg">Statystyki:</h3>
            </div>
            <div>Siła: {{ player.strength }} {% if player.stat_points > 0 %}<a href="{% url 'rozdaj_statystyki' %}?stat=strength" class="bg-blue-500 text-white py-1 px-2 rounded">+</a>{% endif %}</div>
            <div>Zręczność: {{ player.dexterity }} {% if player.stat_points > 0 %}<a href="{% url 'rozdaj_statystyki' %}?stat=dexterity" class="bg-blue-500 text-white py-1 px-2 rounded">+</a>{% endif %}</div>
            <div>Budowa fizyczna: {{ player.constitution }} {% if player.stat_points > 0 %}<a href="{% url 'rozdaj_statystyki' %}?stat=constitution" class="bg-blue-500 text-white py-1 px-2 rounded">+</a>{% endif %}</div>
            <div>Intelekt: {{ player.intelligence }} {% if player.stat_points > 0 %}<a href="{% url 'rozdaj_statystyki' %}?stat=intelligence" class="bg-blue-500 text-white py-1 px-2 rounded">+</a>{% endif %}</div>
            {% if player.stat_points > 0 %} <div class="mt-4">
                <h3 class="font-bold text-lg">Masz {{ player.stat_points }} punktów do rozdania</h3>
            </div> {% endif %}
            <div>Atak: {{ player.attack }}</div>
            <div>Obrona: {{ player.defence }}</div>
        </div>
    </div>
    <div class="col-span-4">
        <div class="font-bold text-lg">
            Ekwipunek:
        </div>
    </div>
    <div class="col-span-6 grid grid-cols-subgrid gap-4">
        <div class="col-start-3 font-bold text-lg">Plecak:</div>
    </div>
</div>
{% if messages %}
    <div class="mt-4">
        {% for message in messages %}
            <div class="bg-green-500 text-white p-2 rounded mb-2">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}