<!DOCTYPE html>
{% load static %}
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Placeholder{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <!-- Alpine + HTMX + TAILWIND + CUSTOM -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link  rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script defer src="{% static 'js/alpine.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>

    {% block extra_head %} {% endblock %}
  </head>
  <body>
    <div class="overlay"></div>
    <div class="content">
      {% block banner_up %} {% endblock %}
      {% block navbar %} {% endblock %} 
      {% block content %} {% endblock %} 
      {% block footer %} {% endblock %}
    </div>
  </body>
</html>
