<aside id="sidebar" class="h-screen bg-neutral-900 border-r border-neutral-800 p-4" aria-label="Sidebar">
  <div class="flex flex-col gap-3 text-sm">
    {% if user.is_authenticated %}
      <a href="{% url 'profil' %}"
         class="w-full text-center rounded bg-transparent border border-amber-700 text-amber-500 hover:bg-amber-700 hover:text-white transition py-2 font-semibold">
        PROFIL
      </a>
      <div class="relative group">
      <a href="{% url 'mapa' %}"
        class="w-full text-center rounded bg-transparent border border-amber-700 text-amber-500 hover:bg-amber-700 hover:text-white transition py-2 font-semibold block">
        LOKACJE
      </a>

      <div class="absolute left-0 top-full w-full hidden group-hover:block z-10">
        <div class="bg-neutral-800 border border-neutral-700 rounded shadow-md flex flex-col text-sm">
          <a href="{% url 'beast_dung' %}"
            class="px-4 py-2 hover:bg-amber-800 text-amber-300 border-b border-neutral-700 rounded-t">
            {{ location.name }}
          </a>
          <a href="{% url 'circus' %}"
            class="px-4 py-2 hover:bg-amber-800 text-amber-300 border-b border-neutral-700">
            {{ location2.name }}
          </a>
          <a href="{% url 'dessert_hills' %}"
            class="px-4 py-2 hover:bg-amber-800 text-amber-300 border-b border-neutral-700">
            {{ location3.name }}
          </a>
          <a href="{% url 'plains' %}"
            class="px-4 py-2 hover:bg-amber-800 text-amber-300 rounded-b">
            {{ location4.name }}
          </a>
        </div>
      </div>
    </div>

      <a href="{% url 'merchant_list' %}"
         class="w-full text-center rounded bg-transparent border border-amber-700 text-amber-500 hover:bg-amber-700 hover:text-white transition py-2 font-semibold">
        Handlarz
      </a>

      <a href="{% url 'logout_user' %}"
         class="w-full text-center rounded bg-transparent border border-amber-700 text-amber-500 hover:bg-amber-700 hover:text-white transition py-2 font-semibold">
        WYLOGUJ
      </a>
    {% else %}
      <a href="{% url 'login_user' %}"
         class="w-full text-center rounded bg-transparent border border-blue-500 text-blue-400 hover:bg-blue-600 hover:text-white transition py-2 font-semibold">
        ZALOGUJ
      </a>
      <a href="{% url 'register_user' %}"
         class="w-full text-center rounded bg-transparent border border-green-500 text-green-400 hover:bg-green-600 hover:text-white transition py-2 font-semibold">
        ZAREJESTRUJ
      </a>
    {% endif %}

    {% if user.is_superuser %}
      <a href="/admin/"
         class="w-full text-center rounded bg-transparent border border-green-500 text-green-400 hover:bg-green-600 hover:text-white transition py-2 font-semibold">
        PANEL ADMINA
      </a>
    {% endif %}
  </div>
</aside>
